name: Build Mj-WhatsApp APK
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Tools
        run: npm install @capacitor/core @capacitor/cli @capacitor/android

      - name: Build Web
        run: |
          mkdir -p www
          cp index.html www/
          # Jika ada manifest, copy juga
          [ -f manifest.json ] && cp manifest.json www/ || echo "no manifest"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4 # Update ke V4
        with:
          name: Mj-WhatsApp-Web-Files
          path: www/
